<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="~{admin/fragments :: header}"></div>
<body>
<div th:replace="~{admin/fragments :: navbar}"></div>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Create New Note</h2>
            </div>
            <div class="card-body">
                <form role="form" method="post" th:action="@{/admin/notes/client/{clientId}/create(clientId=${clientId})}" th:object="${note}" enctype="multipart/form-data">
                    <div class="mb-3">

                        <!-- Content -->
                        <label class="form-label">Content*</label>
                        <textarea
                                class="form-control"
                                id="content"
                                placeholder="Enter content"
                                name="content"
                                th:field="*{content}">
                        </textarea>
                        <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
                    </div>

                    <!-- Files -->
                    <div class="mb-3">
                        <label class="form-label">File Attachments</label>
                        <input
                                type="file"
                                class="form-control"
                                id="files"
                                name="multipartFiles"
                                multiple
                        />
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{admin/fragments :: footer}"></div>
</body>
</html>