<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="~{admin/fragments :: header}"></div>
<body>
<div th:replace="~{admin/fragments :: navbar}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div style="max-height: 100%; overflow-y: auto;">
                <div class="card mb-3">

                    <!-- Birthdays Today -->
                    <div class="card-header d-flex justify-content-between align-items-center notes-header">
                        <div class="col text-center">
                            <h2 th:text="${totalTodayBirthdayItems} + ' ' + ${totalTodayBirthdayItems == 1 ? 'Birthday' : 'Birthdays'} + ' Today'"></h2>
                        </div>
                    </div>
                    <div class="card-body px-0 py-0">
                        <div class="table-responsive py-0">
                            <table class="table table-striped table-hover table-bordered">
                                <thead class="table-dark">
                                <th style="width:40%">
                                    Client
                                </th>
                                <th style="width:30%">
                                    Birthday
                                </th>
                                <th style="width:30%">
                                    Actions
                                </th>
                                </thead>
                                <tbody>
                                <tr th:each="client : ${birthdaysToday}">
                                    <td th:text="${client.firstName} + ' ' + ${client.lastName}">John Smith</td>
                                    <td th:text="${#temporals.format(client.birthday, 'MMMM dd')}">
                                        January 1
                                    </td>
                                    <td>
                                        <a th:href="@{/admin/client/edit/{clientId}(clientId=${client.id})}"
                                           class="btn btn-primary my-1 my-xl-0"><i class="bi bi-pencil-square"></i> Edit</a>
                                        <a th:href="@{/admin/client/{clientId}(clientId=${client.id})}"
                                           class="btn btn-info my-1 my-xl-0"><i
                                                class="bi bi-file-earmark-person"></i> View</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <!-- pagination -->

                <div th:if="${totalTodayBirthdayPages > 1}" class="py-1">
                    <div>
                        <span>

                        <span style="margin-right: 5px">
                            <a th:if="${todayPageNo > 1}"
                               th:href="@{'/admin/reminders/search?p1=' + ${1} + '&p2=' + ${upcomingPageNo} + '&d=' + ${sortDir}}">First</a>
                            <span th:unless="${todayPageNo > 1}">First</span>
                        </span>

                        <span style="margin-right: 15px">
                            <a th:if="${todayPageNo > 1}"
                               th:href="@{'/admin/reminders/search?p1=' + ${todayPageNo - 1} + '&p2=' + ${upcomingPageNo} + '&d=' + ${sortDir}}">Prev</a>
                            <span th:unless="${todayPageNo > 1}">Prev</span>
                        </span>

                        <span style="margin-right: 15px;">
                            <span style="margin-right: 5px"
                                  th:each="i : ${#numbers.sequence(1, totalTodayBirthdayPages)}">
                                <a th:if="${todayPageNo != i}"
                                   th:href="@{'/admin/reminders/search?p1=' + ${i} + '&p2=' + ${upcomingPageNo} + '&d=' + ${sortDir}}">[[${i}]]</a>
                                <span th:unless="${todayPageNo != i}">[[${i}]]</span>
                            </span>
                        </span>

                        <span style="margin-right: 5px">
                            <a th:if="${todayPageNo < totalTodayBirthdayPages}"
                               th:href="@{'/admin/reminders/search?p1=' + ${todayPageNo + 1} + '&p2=' + ${upcomingPageNo} + '&d=' + ${sortDir}}">Next</a>
                            <span th:unless="${todayPageNo < totalTodayBirthdayPages}">Next</span>
                        </span>

                        <span>
                            <a th:if="${todayPageNo < totalTodayBirthdayPages}"
                               th:href="@{'/admin/reminders/search?p1=' + ${totalTodayBirthdayPages} + '&p2=' + ${upcomingPageNo} + '&d=' + ${sortDir}}">Last</a>
                            <span th:unless="${todayPageNo < totalTodayBirthdayPages}">Last</span>
                        </span>

                        </span>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-6">
            <div style="max-height: 100%; overflow-y: auto;">
                <div class="card">

                    <!-- Upcoming Birthdays -->

                    <div class="card-header d-flex justify-content-between align-items-center notes-header">
                        <div class="col text-center">
                            <h2>Upcoming Birthdays</h2>
                        </div>
                    </div>
                    <div class="card-body px-0 py-0">
                        <div class="table-responsive py-0">
                            <table class="table table-striped table-hover table-bordered">
                                <thead class="table-dark">
                                <th style="width:40%">
                                    Client
                                </th>
                                <th style="width:30%">
                                    <a th:href="@{'/admin/reminders/search?p1=' + ${todayPageNo} + '&p2=' + ${upcomingPageNo} + '&d=' + ${reverseSortDir}}">Birthday</a>
                                </th>
                                <th style="width:30%">
                                    Actions
                                </th>
                                </thead>
                                <tbody>
                                <tr th:each="client : ${upcomingBirthdays}">
                                    <td th:text="${client.firstName} + ' ' + ${client.lastName}">John Smith</td>
                                    <td th:text="${#temporals.format(client.birthday, 'MMMM dd')}">
                                        January 1
                                    </td>
                                    <td>
                                        <a th:href="@{/admin/client/edit/{clientId}(clientId=${client.id})}"
                                           class="btn btn-primary my-1 my-xl-0"><i class="bi bi-pencil-square"></i> Edit</a>
                                        <a th:href="@{/admin/client/{clientId}(clientId=${client.id})}"
                                           class="btn btn-info my-1 my-xl-0"><i
                                                class="bi bi-file-earmark-person"></i> View</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <!-- pagination -->

                <div th:if="${totalUpcomingBirthdayPages > 1}" class="py-1">
                    <div>
                        <span>

                        <span style="margin-right: 5px">
                            <a th:if="${upcomingPageNo > 1}"
                               th:href="@{'/admin/reminders/search?p1=' + ${todayPageNo} + '&p2=' + ${1} + '&d=' + ${sortDir}}">First</a>
                            <span th:unless="${upcomingPageNo > 1}">First</span>
                        </span>

                        <span style="margin-right: 15px">
                            <a th:if="${upcomingPageNo > 1}"
                               th:href="@{'/admin/reminders/search?p1=' + ${todayPageNo} + '&p2=' + ${upcomingPageNo - 1} + '&d=' + ${sortDir}}">Prev</a>
                            <span th:unless="${upcomingPageNo > 1}">Prev</span>
                        </span>

                        <span style="margin-right: 15px;">
                            <span style="margin-right: 5px"
                                  th:each="i : ${#numbers.sequence(1, totalUpcomingBirthdayPages)}">
                                <a th:if="${upcomingPageNo != i}"
                                   th:href="@{'/admin/reminders/search?p1=' + ${todayPageNo} + '&p2=' + ${i} + '&d=' + ${sortDir}}">[[${i}]]</a>
                                <span th:unless="${upcomingPageNo != i}">[[${i}]]</span>
                            </span>
                        </span>

                        <span style="margin-right: 5px">
                            <a th:if="${upcomingPageNo < totalUpcomingBirthdayPages}"
                               th:href="@{'/admin/reminders/search?p1=' + ${todayPageNo} + '&p2=' + ${upcomingPageNo + 1} + '&d=' + ${sortDir}}">Next</a>
                            <span th:unless="${upcomingPageNo < totalUpcomingBirthdayPages}">Next</span>
                        </span>

                        <span>
                            <a th:if="${upcomingPageNo < totalUpcomingBirthdayPages}"
                               th:href="@{'/admin/reminders/search?p1=' + ${todayPageNo} + '&p2=' + ${totalUpcomingBirthdayPages} + '&d=' + ${sortDir}}">Last</a>
                            <span th:unless="${upcomingPageNo < totalUpcomingBirthdayPages}">Last</span>
                        </span>

                        </span>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div th:replace="~{admin/fragments :: footer}"></div>
</body>
</html>