<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="~{admin/fragments :: header}"></div>
<body>
<div th:replace="~{admin/fragments :: navbar}"></div>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Bulk Upload Clients</h2>
            </div>
            <div class="card-body">
                <h4>CSV Upload Instructions:</h4>
                <ol>
                    <li>Click <a th:href="@{/admin/files/download/ClientCentralCSVTemplate.csv}">here</a> to download the ClientCentral CSV template.</li>
                    <li>Fill out the CSV and upload your clients in the form below.</li>
                </ol>
                <h5>Important:</h5>
                <ul>
                    <li>First name must not be empty.</li>
                    <li>Last name must not be empty.</li>
                    <li>Phone number must be in format <em>"555-555-5555"</em></li>
                    <li>Birthday must be in format <em>"YYYY-MM-DD"</em></li>
                </ul>
                <form action="/admin/upload" method="post" enctype="multipart/form-data">
                    <!-- client error param alerts -->
                    <div th:if="${param.formatError}">
                        <div class="alert alert-danger">
                            Format Error: Please upload a CSV file
                        </div>
                    </div>
                    <div th:if="${param.uploadError}">
                        <div class="alert alert-danger">
                            Upload Error: <span th:text="'[' + ${param.errorMessage} + ']'"></span> Please check CSV formatting and try again
                        </div>
                    </div>
                    <div class="input-group">
                        <input class="form-control" id="file" type="file" name="file">
                        <input class="btn btn-primary" type="submit" value="Upload">
                    </div>
                    <label for="file" class="form-label">*Must be a properly formatted CSV file. <a th:href="@{/admin/files/download/ClientCentralCSVTemplate.csv}">Download Template</a></label>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{admin/fragments :: footer}"></div>
</body>
</html>