<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="~{admin/fragments :: header}"></div>
<body>
<div th:replace="~{admin/fragments :: navbar}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <!-- Card Header -->
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="col text-center">
                        <h2 th:text="${client.firstName} + ' ' + ${client.lastName}"></h2>
                    </div>
                    <div class="col-auto text-end">
                        <a th:href="@{/admin/client/edit/{clientId}(clientId=${client.id})}"
                           class="btn btn-primary my-1 my-xl-0">Edit</a>
                    </div>
                </div>
                <div class="card-body">
                    <div th:object="${client}">
                        <div class="mb-3">


                            <!-- First Name -->
                            <label class="form-label client-view-label">First Name</label>
                            <p th:text="*{firstName}"></p>
                        </div>

                        <!-- Last Name -->
                        <div class="mb-3">
                            <label class="form-label client-view-label">Last Name</label>
                            <p th:text="*{lastName}"></p>
                        </div>

                        <!-- Address -->
                        <div class="mb-3">
                            <label class="form-label client-view-label">Address</label>
                            <p th:text="*{address}"></p>
                        </div>

                        <!-- Phone Number -->
                        <div class="mb-3">
                            <label class="form-label client-view-label">Phone Number</label>
                            <p th:text="*{phoneNumber}"></p>
                        </div>

                        <!-- Email -->
                        <div class="mb-3">
                            <label class="form-label client-view-label">Email</label>
                            <p th:text="*{email}"></p>
                        </div>

                        <!-- Birthday -->
                        <div class="mb-3">
                            <label class="form-label client-view-label">Birthday</label>
                            <p th:text="${#temporals.format(client.birthday, 'MMMM d')}"></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead class="table-dark">
                    <th style="width:10%">
                        Date
                    </th>
                    <th style="width:40%">
                        Content
                    </th>
                    <th style="width:25%">
                        Attachments
                    </th>
                    <th style="width:25%">Actions</th>
                    </thead>
                    <tbody>
                    <tr th:each="note : ${client.notes}">
                        <td th:text="${#temporals.format(note.createdOn, 'MM/dd/yy')}">Date Created</td>
                        <td th:text="${note.content}">Content</td>
                        <td>
                            <ul>
                                <li th:each="file : ${note.files}">
                                    <!--                                    <a th:href="@{/admin/attachment/view/{attachmentId}(attachmentId=${attachment.id})}"-->
                                    <!--                                       th:text="${attachment.name}"></a>-->
                                </li>
                            </ul>
                        </td>
                        <td>
                            <a th:href="@{/admin/client/edit/{clientId}(clientId=${client.id})}"
                               class="btn btn-primary my-1 my-xl-0">Edit</a>
                            <a th:href="@{/admin/client/delete/{clientId}(clientId=${client.id})}"
                               class="btn btn-danger my-1 my-xl-0">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{admin/fragments :: footer}"></div>
</body>
</html>