<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<div th:replace="~{admin/fragments :: header}"></div>

<body>

<div th:replace="~{admin/fragments :: navbar}"></div>

<div class="container d-flex justify-content-center align-items-center" style="height: 75vh">
    <div class="text-center">
        <h1 class="text-secondary display-1">404</h1>
        <h3 class="text-secondary display-4">Page Not Found</h3>
    </div>
</div>

<div th:replace="~{admin/fragments :: footer}"></div>

</body>
</html>
