.container {
    margin-top: 40px;
    margin-bottom: 100px;
}

/* ALERT STYLING */

.alert {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert-btn {
    float: right;
}

/* TABLE STYLING */

/* link styling for table */

th a {
    color: white;
}

th a:hover {
    color: #D3D3D3;
}

/* make header and table heading sticky when scrolling through notes */

.notes-header {
    position: sticky;
    top: 0;
    background-color: #f8f9fa !important;
    z-index: 1;
}

.client-info {
    height: 539px;
}

.table-responsive {
    height: 475px;
    overflow:scroll;
}

thead {
    position: sticky;
    top: -1px;
    z-index: 50;
    border: 1px #D3D3D3 !important;
}

/* INDIVIDUAL CLIENT VIEW STYLING */

.client-view-label {
    font-weight: bold;
}

/* EDIT NOTE VIEW STYLING */

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.list-group-item .file-delete {
    float: right;
}

